---
layout: home
title: "Aha to Future"
description: "杂货铺 java blockchain 代码 编程 人生 读书 随笔"
comments: false
---

{% for post in paginator.posts %}
{% if post.hide != true %}
<a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url" class="header-href">
  <article class="hentry">
      <h1 class="entry-title">
          {{post.title }}
      </h1>
    <div class="entry-content">
      <span class="index-content-time">【{{ post.date | date: "%Y-%m-%d" }}】</span>{{ post.summary }}
    </div>
  </article>
</a>
{% endif %}
{% endfor %}
{% include pagination.html %}
